# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.idea/
.sass-cache
.module-cache/
engine/
node_modules/
platforms/
plugins/
www/asset/lib/
www/index.html
www/build/
tmp/
www.zip
