<md-content class="md-padding">
    <div ng-if="::Platform.isChrome()">
        To use this extension you must login on <a href="https://www.bungie.net" target="_blank">Bungie.net</a>.
        Once you login this page will refresh automatically.
    </div>
    <div ng-if="::!Platform.isChrome()" layout="column" flex>
        <md-button ng-click="login('Psnid')">
            <md-icon md-font-icon="ion-playstation"></md-icon>
            PlayStation Network
        </md-button>
        <md-button ng-click="login('Xuid')">
            <md-icon md-font-icon="ion-xbox"></md-icon>
            Microsoft Account
        </md-button>
    </div>
</md-content>
