<md-bottom-sheet id="item-sheet">
    <h2>{{::item.itemName}}</h2>
    <md-list>
        <md-item>
            <md-button md-no-ink ng-if="::(false)">
                <md-icon md-font-icon="fa fa-male"></md-icon>
                Equip item
            </md-button>
        </md-item>
        <md-item ng-if="::(!item.isEquipped && item.charId)">
            <md-button md-no-ink >
                <md-icon md-font-icon="fa fa-bank"></md-icon>
                Send to Vault
            </md-button>
        </md-item>
        <md-item ng-repeat="char in ::chars track by ::char.characterBase.characterId">
            <md-button md-no-ink >
                <md-icon md-font-icon="fa fa-share"></md-icon>
                {{::getCharacter(char.characterBase.characterId)}}
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>
