<div layout="column" flex ng-controller="MenuCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i ng-click="toggleLeft();" ng-if="showMenuToggle()" class="fa fa-bars"></i>
            <h2 class="md-toolbar-tools">Packmule {{ manifest.version }}</h2>
            <i ng-click="toggleRight();" hide-gt-sm class="fa fa-filter"></i>
        </div>
    </md-toolbar>

    <div layout="row" flex>
        <div ng-include="basedir + '/shared/layout/left-nav.html'" layout="column" md-swipe-left="closeLeft()"></div>

        <div layout="column" flex class="md-padding">
            <md-progress-linear id="loading-bar" class="md-accent" md-mode="indeterminate" ng-show="loadingBarEnabled"></md-progress-linear>

            <md-content ui-view="content" layout="column" flex>
        </div>

        <div ng-controller="RightNavCtrl" ng-include="basedir + '/shared/layout/right-nav.html'" layout="column" md-swipe-right="closeRight()"></div>
    </div>
</div>
